{% extends 'base.html' %}

{% block content %}
    <!-- Check if user is authenticated -->
    {% if user.is_authenticated %}
        <!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Hotel Booking Bookings</title>
            <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
            {% load static %}
            <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        </head>
        <body>
        <div class="container">
            <div class="content">
                <div class="card">
                    <h2><b>Bookings</b></h2>
                    <!-- Display booking information in a table -->
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Booking ID</th>
                                <th>Room ID</th>
                                <th>Check In</th>
                                <th>Check Out</th>
                                <th>Guests</th>
                                <th>Price</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <!-- Loop through bookings and display details -->
                        {% if bookings %}
                            {% for booking in bookings %}
                                <tr>
                                    <td>{{ booking.booking_id }}</td>
                                    <td>{{ booking.room_id }}</td>
                                    <td>{{ booking.check_in }}</td>
                                    <td>{{ booking.check_out }}</td>
                                    <td>{{ booking.guests }}</td>
                                    <td>{{ booking.price }}</td>
                                    <td>{{ booking.status }}</td>
                                </tr>
                            
                            <!-- If no bookings found -->
                            {% empty %}
                            <tr>
                                <td colspan="7">No bookings found.</td>
                            </tr>

                            {% endfor %}
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>
        </body>
        </html>

    <!-- If user is not authenticated -->
    {% else %}
        <div class="col-md-6 offset-md-3">
            <h1>Login</h1>
            <br/>
            <!-- Login form -->
            <form method="POST" action="{% url 'home' %}">
                {% csrf_token %}
                <div class="mb-3">
                    <label>
                        <input type="text" class="form-control" name="username" placeholder="Username" required>
                    </label>
                </div>
                <br/>
                <div class="mb-3">
                    <label>
                        <input type="password" class="form-control" name="password" placeholder="Password" required>
                    </label>
                </div>
                <br/>
                <button type="submit" class="btn btn-secondary">Login</button>
            </form>
        </div>
    {% endif %}
{% endblock %}
