{% extends 'base.html' %}

{% block content %}
  <!-- Check if user is authenticated -->
  {% if user.is_authenticated %}

  <!-- If user is not authenticated -->
  {% else %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/hotel_booking_app/static/css/styles.css">
    </head>
    <body>
        <div class="container">




          <div class="navbar">
            Hotel Contact Information
          </div>
          
          <div class="content" >
            <div class="card"style="background-color:#222">
              <!-- Display room types -->
              
                  <!-- If room types are not empty, loop through room types and display them-->
                  {% if not empty %}
                  {% for hotel in hotels %}
                  <div class="card">
                      <tr>
                        <!-- <h3>Room Number: {{ room.room_number }}</h3>
                         -->

                        <div class="container text-center">
                          <div class="row align-items-end">
                            <div class="col">
                              <h3>Hotel Name</h3>
                            </div>
                          </div>
                        </div>
                        <div class="container text-center">
                          <div class="row align-items-end">
                            <div class="col">
                              <div class="card">
                              <h5>{{ hotel.hotel_name }}</h5>
                            </div>
                            </div>
                          </div>
                        </div>


                        <div class="container text-center">
                          <div class="row align-items-end">
                            <div class="col">
                              <h3>Hotel Email</h3>
                            </div>
                            
                            <div class="col">
                              <h3>Hotel Number</h3>
                            </div>
                          </div>
                        </div>
                        <div class="container text-center">
                          <div class="row align-items-end">
                            <div class="col">
                              <div class="card">
                              <h5>{{ hotel.hotel_name }}  {{hotel.hotel_address}}@gmail.com</h5>
                            </div>
                            </div>
                            
                            <div class="col">
                              <div class="card">
                              <h5> {{ hotel.hotel_phone_number }}</h5>
                            </div>
                            </div>
                          </div>
                        </div>
                        <div class="text-center">
                          <img src ="{{ room.room_type.room_type_images.url }}" width=100%; height= auto>
                          
                        </div>
                        <div class="container text-center">
                          <div class="row align-items-end">
                            <div class="col">
                              <h1>Hotel Address</h1>
                            </div>
                          </div>
                        </div>
                        <div class="container text-center">
                          <div class="row align-items-end">
                            
                            <div class="col">
                              <div class="card">
                              <h5>  
                                
                                {{ hotel.hotel_address }} {{ hotel.hotel_city }}, {{ hotel.hotel_country }} {{ hotel.hotel_postcode }}
                                
                                </h5>
                            </div>
                            </div>
                          </div>
                        </div>
                        
                      </tr>
                      <a href="{% url 'inventory' %}" class="btn btn-secondary">Check Out Our Room Now!</a>


                  <!-- If no hotels found -->
                </div>
                  {% empty %}
                  <tr>
                      <td colspan="7">No guest found.</td>
                  </tr>
                {% endfor %}
              {% endif %}
            </div>
          </div>




























    </body>
    </html>
  {% endif %}
{% endblock %}
