{% extends 'base.html' %}

{% block content %}
    <!-- Check if user is authenticated -->
    {% if user.is_authenticated %}
        <!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Hotel Booking Dashboard</title>
            <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
            {% load static %}
            <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        </head>
        <body>
        <div class="container">
            <div class="content">
                <div class="card">
                    <h2><b>Hotel Information</b></h2>
                    <!-- Display hotel information in a table -->
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Hotel Name</th>
                                <th>Hotel Address</th>
                                <th>Hotel City</th>
                                <th>Hotel Postcode</th>
                                <th>Hotel Country</th>
                                <th>Hotel Phone Number</th>
                                <th>Hotel Star Rating</th>
                            </tr>
                        </thead>
                        <tbody>
                        <!-- Loop through hotels and display information -->
                        {% if hotels %}
                            {% for hotel in hotels %}
                                <tr>
                                    <td>{{ hotel.hotel_name }} </td>
                                    <td>{{ hotel.hotel_address }}</td>
                                    <td>{{ hotel.hotel_city }}</td>
                                    <td>{{ hotel.hotel_postcode }}</td>
                                    <td>{{ hotel.hotel_country }}</td>
                                    <td>{{ hotel.hotel_phone_number }}</td>
                                    <td>{{ hotel.hotel_star_rating }}</td>
                                </tr>
                            
                            <!-- If no hotels found -->
                            {% empty %}
                            <tr>
                                <td colspan="7">No hotels found.</td>
                            </tr>

                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Button to add more hotel record -->
            <div class="button-container">
                <a href="{% url 'add_record' %}" class="btn btn-secondary">Add Record</a>
            </div>
        </div>
        </body>
        </html>

    <!-- If user is not authenticated -->
    {% else %}
        <div class="col-md-6 offset-md-3">
        <h1>Login</h1>
        <br/>
        <!-- Login form -->
        <form method="POST" action="{% url 'home' %}">
            {% csrf_token %}
            <div class="mb-3">
                <input type="text" class="form-control" name="username" placeholder="Username" required>
            </div>
            <br/>
            <div class="mb-3">
                <input type="password" class="form-control" name="password" , placeholder="Password" required>
            </div>
            <br/>
            <button type="submit" class="btn btn-secondary">Login</button>
        </form>
    {% endif %}
{% endblock %}
