
{% include 'navbar.html' %} 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Room Inventory</title>
</head>
<body>
    Hello
    <h3>Inventory Status</h3>
                {% for room in Inventory %}
                <li>{{ room.id }} | {{ room.rooms_available }} | {{room.rooms_available}} | {{ room.rooms_to_be_cleaned }}</li>
                {% empty %}
                <li>No rooms</li>
                {% endfor %}
</body>