{% extends 'base.html' %}
{% load static %}

{% block content %}
  <!-- Check if user is authenticated -->
  {% if user.is_authenticated %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hotel Room Inventory</title>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        {% load static %}
        <link rel="stylesheet" href="/hotel_booking_app/static/css/styles.css">
    </head>
    <body>
      <div class="col-md-6 offset-md-3">
        <h1><b>Add Room Type</b></h1>
        <br/>
        <!-- Form for adding room type -->
        <form enctype="multipart/form-data" action="/add_room_type/" method="post" >
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn btn-secondary" value="Submit">
        </form>
      </div>
      <br><br><br>
      <div class="col-md-6 offset-md-3">
        <h1><b>Add Room</b></h1>
        <br/>
        <!-- Form for adding room -->
        <form action="/add_room/" method="post">
            {% csrf_token %}
            {{ form2.as_p }}
            <input type="submit" class="btn btn-secondary" value="Submit">
        </form>
      </div>
    </body>
  
  <!-- If user is not authenticated, display the inventory -->
  {% else %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hotel Room Inventory</title>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        {% load static %}
        <link rel="stylesheet" href="/hotel_booking_app/static/css/styles.css">
    </head>
    <body>
      <div class="container">
          <div class="navbar">
            Hotel Booking Inventory
          </div>
          <div class="content">
            <div class="card">
              <!-- Display room types -->
              <h3>Inventory Status</h3>
                  <!-- If room types are not empty, loop through room types and display them-->
                  {% if not empty %}
                      {% for roomtype in roomtypes %}
                      <li>Room type: {{ roomtype.room_type_name }}</li>
                      <li>Room Descriptions: {{roomtype.room_type_description}}</li>
                      <li>Room price: ${{roomtype.room_type_price}}</li>
                      <img src ="{{ roomtype.room_type_images.url }}" width="1000" height="800">
                      {% endfor %}

                  {% else %}
                      <li>No rooms</li>

                  {% endif %}   
            </div>
          </div>
        </div>
    </body>
    </html>
    {% endif %}
{% endblock %}
