{% extends 'base.html' %}

{% block content %}
    <!-- Check if user is authenticated -->
    {% if user.is_authenticated %}

    {% else %}
        <!DOCTYPE html>
        <html lang="en">
        <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Make Booking</title>
            <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="/hotel_booking_app/static/css/styles.css">
        </head>
        <body>
            <div class="col-md-6 offset-md-3">
                <h1><b>Update Room Status</b></h1>
                <br/>
                <!-- Form for making a booking with POST method -->
                <form action="/make_booking/" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" class="btn btn-secondary" value="Submit">
                </form>
            </div>
        </body>
    {% endif %}
    
{% endblock %}
