{% load static %} 

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      
        {% if user.is_authenticated %}

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'dashboard' %}">dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'booking' %}">booking</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'user' %}">user</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'inventory' %}">inventory</a>
          </li>
        </ul>
        
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
          </li>
        </ul>

        {% else %}

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'make_booking' %}">make_booking</a>
          </li>       
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contact' %}">contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'inventory' %}">inventory</a>
          </li>
        </ul>

        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'register' %}">Register</a>
          </li>
        </ul>

        {% endif %}
        
      </ul>
    </div>
  </div>
</nav>
