{% extends 'base.html' %}

{% block content %}
	<div class="col-md-6 offset-md-3">
		<h1>Register</h1>
		<br/>

		<!-- Registration form with POST method -->
		<form method="POST" action="">
			{% csrf_token %}
			<!-- Display errors if form has errors -->
			{% if form.errors %}
				<div class="alert alert-warning alert-dismissible fade show" role="alert">
					Your Form Has Errors
					<!-- Loop through form fields to display errors -->
					{% for field in form %}
						{% if field.errors %}
							{{ field.errors }}
						{% endif %}
					{% endfor %}
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
			{% endif %}

			<!-- Display form fields as paragraphs -->
			{{ form.as_p }}

			<!-- Submit button for registration -->
			<br/>
			<button type="submit" class="btn btn-secondary">Register</button>
		</form>
	</div>
{% endblock %}
