{% extends 'base.html' %}

{% block content %}
  <!-- Check if user is authenticated -->
  {% if user.is_authenticated %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hotel Booking User</title>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        {% load static %}
        <link rel="stylesheet" href="/hotel_booking_app/static/css/styles.css">
    </head>
    <body>
      <div class="container">
        <div class="content">
            <div class="card">
                <h2><b>Hotel Booking Users</b></h2>
                <!-- Display hotel booking users in a table -->
                <table class="table">
                    <thead>
                        <tr>
                          <th>Guest ID</th>
                          <th>Title</th>
                          <th>First Name</th>
                          <th>Last Name</th>
                          <th>Date of Birth</th>
                          <th>Phone Number</th>
                          <th>Email</th>
                          <th>Address</th>
                          <th>City</th>
                          <th>State</th>
                          <th>Country</th>
                          <th>Postcode</th>
                          <th>Booking</th>
                          <th>Related Name</th>
                          <th>Payment</th>
                        </tr>
                    </thead>
                    <tbody>
                    <!-- Loop through guests and display information -->
                    {% if guests %}
                        {% for guest in guests %}
                        <tr>
                          <td>{{ guest.guest_id }}</td>
                          <td>{{ guest.guest_title }}</td>
                          <td>{{ guest.guest_first_name }}</td>
                          <td>{{ guest.guest_last_name }}</td>
                          <td>{{ guest.guest_date_of_birth }}</td>
                          <td>{{ guest.guest_phone_number }}</td>
                          <td>{{ guest.guest_email }}</td>
                          <td>{{ guest.guest_address }}</td>
                          <td>{{ guest.guest_city }}</td>
                          <td>{{ guest.guest_state }}</td>
                          <td>{{ guest.guest_country }}</td>
                          <td>{{ guest.guest_postcode }}</td>
                          <td>{{ guest.booking }}</td>
                          <td>{{ guest.related_name }}</td>
                          <td>{{ guest.payment }}</td>
                      </tr>
                        
                        <!-- If no guests found -->
                        {% empty %}
                        <tr>
                            <td colspan="7">No guests found.</td>
                        </tr>

                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
    </body>
    </html>

  {% else %}
    <div class="col-md-6 offset-md-3">
    <h1>Login</h1>
    <br/>
    <!-- Login form with POST method -->
    <form method="POST" action="{% url 'home' %}">
      {% csrf_token %}
      <!-- Input field for username and password -->
      <div class="mb-3">
        <input type="text" class="form-control" name="username", placeholder="Username" required>
        
      </div><br/>
      <div class="mb-3">
        <input type="password" class="form-control" name="password", placeholder="Password" required>
      </div>
      <br/>
      <button type="submit" class="btn btn-secondary">Login</button>
    </form>
  {% endif %}
{% endblock %}
